@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-base-100: #0f172a; /* Slate 900 - Dark Blue */
  --color-base-200: #1e293b; /* Slate 800 */
  --color-base-300: #334155; /* Slate 700 */
  --color-base-content: #f8fafc; /* Slate 50 */
  
  --color-primary: #fbbf24; /* Amber 400 - Yellow */
  --color-primary-content: #1e293b;
  
  --color-secondary: #facc15; /* Yellow 400 */
  --color-accent: #f59e0b; /* Amber 500 */
  
  --color-info: #38bdf8;
  --color-success: #4ade80;
  --color-warning: #fbbf24;
  --color-error: #f87171;
}