@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make date picker icon white in dark mode */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}